<h2 class="user-new-reg-h1">Sign up</h2>
<div class="user-field">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "user-new-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field user-new-form-divs">
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "user-new-form-inputs" %>
  </div>
  <div class="field user-new-form-divs">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "user-new-form-inputs" %>
  </div>
  <div class="field user-new-form-divs">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "user-new-form-inputs" %>
  </div>
  <div class="field user-new-form-divs">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "user-new-form-inputs" %>
  </div>
  <div class="actions user-new-form-divs">
    <%= f.submit "Sign up", class: "user-new-form-inputs" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>