<div class="user-posts">
      <div class="usr-posts-title">
      <p>Post<%= '#1' %></p>
      <div class="usr-com-lik-counter">
      <p>comments: <%= @post.comments_counter %></p>
      <p>likes: <%= @post.likes_counter %></p>
      </div>
      </div>
      <p><%= @post.id %></p>
      <p><%= @post.title %></p>
      <p><%= @post.text %></p>
      <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |f| %>
        <%= f.submit "Like" %>
      <% end %>
    </div>
    <div class="user-comments">
    <% @comments.each do |comment| %>
      <p><%= comment.author.name %> : <%= comment.text %></p>
    <% end %>
  </div>